<div class="col-sm-12">
  <h1>État des soldes</h1>
  <h2><%= @vm.today %></h1>
  <div class="row">
    <% @vm.each_child_and_balance do |child, balance| %>
      <div class="col-md-6">
        <h3><%= child.name %></h3>
        <h4>Solde du compte: <%= format_amount balance %></h4>
        <a class="btn btn-small" href="/transactions/<%= child.id %>">État de compte</a>
        <a class="btn btn-small" href="/transactions/<%= child.id %>/new-revenue">Inscrire un revenu</a>
        <a class="btn btn-small" href="/transactions/<%= child.id %>/new">Inscrire une transaction manuelle</a>
      </div>
    <% end %>
  </div>
</div>
