<div class="col-sm-12">
  <h1>Inscrire un revenu</h1>
  <h2><%= @vm.person_name %> <%= @vm.today %></h2>

  <form method="post" action="/revenues/<%= @vm.person_id %>">
    <div class="form-group">
      <label for="revenue_posted_on">Date</label>
      <input  id="revenue_posted_on" class="form-control" name="revenue[posted_on]" type="date" value="<%= @vm.today %>" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>
    </div>
    <div class="form-group">
      <label for="revenue_count">Nombre de tâches</label>
      <input  id="revenue_count" class="form-control input-sm" name="revenue[count]" type="number" inputmode="numeric" min="1" placeholder="3" required>
    </div>
    <div class="form-group">
      <label for="revenue_unit_amount">Taux unitaire</label>
      <p class="form-control-static"><%= format_amount @vm.task_rate %></p>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer le revenu</button>
  </form>
</div>
