<div class="col-sm-12">
  <h1>État de compte</h1>
  <h2><%= @vm.person_name %> <%= @vm.today %></h2>

  <table class="table table-condensed">
    <col width="30%">
    <col>
    <col width="20%">
    <thead>
      <tr>
        <th>Date</h2>
        <th>Description</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      <% @vm.each_transaction do |transaction| %>
        <tr>
          <td><%= transaction.posted_on %></td>
          <td><%= transaction.description %></td>
          <td align="right"><%= format_amount transaction.amount %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2" scope="row">Solde</th>
        <td align="right"><%= format_amount @vm.balance %></td>
      </tr>
    </tfoot>
  </table>
</div>
